body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0e0101;
}

.container {
    max-width: 800px;
    max-height: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f40d0d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

label {
    margin-right: 10px;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
}

span {
    margin-left: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background-color: #52a0f4;
}
